body {
    font-family: 'Playfair Display', serif;
    background-image: url('imagenes/fondo1.jpg');
    background-size: cover;
    background-position:  center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.5);  /* Blanco con 50% de transparencia */
    color: black;  /* El texto sigue siendo opaco */
    padding: 20px;
    border-radius: 100px;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: #000000;
}

input[type="email"],
input[type="password"] {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #9a97cc;
    padding: 12px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #eb9a4b;
}

.registro {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.registro a {
    color: #050505;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: underline;
}